$black: #000;
$white: #fff;
$red: #f00;
$grey: #f2f2f7;
$greyDark: #a8a8a8;

$inputBorderCol: #e5e5ea;
$buttonGradient: linear-gradient(127deg, #00eaf9 -13.37%, #00bdf9 96.31%);
$buttonGradientDull: linear-gradient(137deg, #99dbf8 1.58%, #a1efed 96.24%);
$buttonGradientAlt: linear-gradient(137deg, #00a5ee 1.58%, #14d7d1 96.24%);
